header {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  max-width: 768px;
}

.date {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  padding-bottom: 0.5rem;
} 

.date > h2 {
  color: var(--Gray450);
  font-weight: 500;
}

.infoBtn {
  background-color: var(--white);
  border: none;
}