.timerContainer {
  margin: 2rem;
  padding: 2.5rem;
  aspect-ratio: 1 / 1;
  background-color: var(--lightBlock);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.timerItem {
  width: 100%;
  display: flex;
  justify-content: center;
}

.timerMode {
  border-radius: 16px;
}

.timerBtn {
  color: var(--Gray500);
  border: none;
  background-color: var(--Gray900);
}

.modeBtn {
  width: 100%;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
}

.leftBtn {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.rightBtn {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.timerTextMain {
  font-weight: bold;
  font-size: 4.5rem;
  color: var(--Gray500);
  font-variant-numeric: tabular-nums;
}

.timerControl {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.controlBtn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: var(--lightBlueBtn);
}

.timerDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeTextHour {
  font-size: 1rem;
  font-weight: bold;
  color: var(--Gray500);
}

.unSee {
  visibility: hidden;
}

.selectBtn {
  background-color: var(--lightBlueBtn);
}