.taskContent {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 50vh;
  overflow-y: auto;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--Gray850);
  padding: 1rem 0;
  width: 100%;
  background-color: var(--white);
  z-index: 2;
  transition: transform 0.5s;
}

.checkBtn {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--Gray850);
  background-color: white;
  border-radius: 8px;
}

.taskText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.task {
  display: flex;
  gap: 0.8rem;
}

.focusBtn {
  background-color: white;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 8px;
}

.focusBtnItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0.5rem;
}

.swipped {
  transform: translateX(-55px);
  transition: 0.5s;
}

.temp {
  display: flex;
  position: relative;
  overflow: hidden;
}

.deleteBtnItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleteBtn {
  background-color: var(--PriorityRed);
  border: 1px solid var(--Gray850);
  color: var(--white);
  padding: 0.5rem;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}

.taskLabel {
  display: flex;
  gap: 10px;
  align-items: center;
}

.itemPriority {
  padding: 0.2rem 0.4rem;
  border-radius: 10px;
  font-weight: bold;
}

.redPriority {
  background-color: var(--PriorityRed);
  color: var(--PriorityRedText);
}

.greenPriority {
  background-color: var(--PriorityGreen);
  color: var(--PriorityGreenText);
}

.yellowPriority {
  background-color: var(--PriorityYellow);
  color: var(--PriorityYellowText);
}

.checkBtnCompleted {
  background-color: var(--Gray450);
  filter: opacity(60%);
}

.taskCompleted {
  filter: opacity(50%);
}

.focusBtnCompleted {
  visibility: hidden;
}