.timeContainer {
  margin: 2rem;
  overflow-y: auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeItem {
  display: flex;
}

.timeText {
  width: 4.5rem;
  text-align: right;
}

.test {
  height: 5rem;
  width: 100%;
}

.sessionBlock {
  position: absolute;
  background-color: var(--white);
  border: 1px solid var(--Gray850);
  border-radius: 8px;
  width: 80%;
  left: 20%;
}