.timeContainer {
  margin: 2rem;
  overflow-y: auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeItem {
  display: flex;
}

.timeText {
  width: 4.5rem;
  text-align: right;
  color: var(--Gray500);
}

.test {
  height: 5rem;
  width: 100%;
}

.sessionBlock {
  position: absolute;
  background-color: var(--sessionColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  width: 80%;
  left: 20%;
  padding: 0.6rem 1rem 0.6rem 1.75rem;
}

.sessionText::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 0.5rem;
  top: 35%;
  border-radius: 50%;
  background-color: var(--sessionFakeElementColor);
}

.sessionText {
  color: var(--Gray500);
  font-weight: bold;
}