#MediumBtn {
  border-right: 1px solid var(--Gray450);
  border-left: 1px solid var(--Gray450);
  border-radius: 0;
}

#LowBtn {
  border-radius: 0.2rem 0 0 0.2rem;
}

#HighBtn {
  border-radius: 0 0.2rem 0.2rem 0;
}

.overlay {
  background-color: var(--white);
  position: fixed;
  width: 100vw;
  height: 100dvh;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
}

.addTaskBtn {
  background-color: var(--white);
  border: 0;
}

.addTaskContainer {
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: row-reverse;
}

.clossBtn {
  background-color: var(--white);
  align-self: flex-end;
}

.Btn {
  border: none;
}

.taskField {
  font-size: 2rem;
  width: 100%;
  border: none;
  resize: none;
  min-height: 0;
}

.taskField:focus {
  outline: none;
}

.keybordOpen {
  margin-bottom: 250px;
  transition: padding-bottom 0.2s ease-out;
}

.ControlBtn {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
  position: relative;
}

.setting {
  background-color: var(--Gray950);
  padding: 0.5rem;
  border-radius: 16px;
}

.top {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.submit {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 10px;
}

.pamerater {
  position: absolute;
  bottom: 150%;
  background-color: var(--white);
  border-radius: 8px;
  border: 2px solid var(--Gray850);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.MiniSubmit {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem;
  font-size: 0.8rem;
  width: 80%;
  border-radius: 10px;
}

.tagField {
  border: 1px solid var(--Gray850);
  outline: none;
  background-color: none;
  resize: none;

  font-size: 1rem;
  line-height: 1.5;

  padding: 0 0.2rem;
  width: 70%;
}

.colorChoice {
  border: 1px solid var(--Gray850);
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: var(--white);
}

.pameraterItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  gap: 10px;
}

.tagContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 0 1rem;
}

.priorityContainer {
  border: 1px solid var(--Gray450);
  border-radius: 4px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.parameterTitle {
  display: flex;
}

.priorityItem {
  background-color: var(--white);
  padding: 0.2rem 0.4rem;
  font-weight: 700;
  font-size: 0.8rem;
}

.lowPriority {
  background-color: var(--PriorityGreen);
}

.mediumPriority {
  background-color: var(--PriorityYellow);
}

.highPriority {
  background-color: var(--PriorityRed);
}

.colorPicker {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 360%;
  left: 5%;
  background-color: var(--white);
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--Gray850);
}

.colorOption {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
}


@media (min-width: 768px) {
  .overlay {
    width: 40%;
    top: 20%;
    left: 30%;
    height: 60%;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--Gray450);
  }
  .keybordOpen {
    margin-bottom: 0px;
    transition: padding-bottom 0.2s ease-out;
  }
}